.form__button-prev {
    margin: 0 15px 0 0;
    padding: 0;
    border: 1px solid #B88149;
    background-color: transparent;
    width: 137px;
    height: 52px;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #B88149;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-out;
}

.form__button-prev:hover {
    background-color: #83270C;
    color: #FCFBF6;
    border: none;
}