.banner {
    margin: 0 auto 54px auto;
    padding: 0;
    width: 1400px;
    height: 334px;
    background-image: url(../../images/banner.jpg);
    background-position: center;
    background-size: cover;
    opacity: .9;
}