.test-page__button-start {
    position: relative;
    cursor: pointer;
    margin: 25px 0 0 0;
    padding: 0;
    border: none;
    width: 259px;
    height: 54px;
    background-color: #B88149;
    color: #FCFBF6;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    transition: all .4s ease-out;
}

.test-page__button-start:hover {
    background-color: #83270C;
}