.test-page__text {
    position: relative;
    margin: 15px 0 0 0;
    max-width: 415px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FCFBF6;
}