.club-info {
    margin: 180px auto 0 auto;
    padding: 0;
    max-width: 1600px;
    background-image: url(../../images/background-club-main.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 2000px;
    position: relative;
}

.club-info:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .4);
    z-index: 1;
}