.grid__item {
    margin: 0;
    padding: 0;
    width: 687px;
    height: 797px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
}